.CustomerModal {
    .ant-modal-content {
        padding: 0 !important;
    }
    .ant-modal-close-x {
        color: #fff;
    }
    .ant-pagination {
        margin: 16px 0 8px 0 !important;
    }
}
